<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Simple Node.js Server</title>
  </head>
  <body>
    <%- include ('partial/nav.ejs') -%>
    <h1>Form sucessfully submitted</h1>
    <p>email : <%= data.email %></p>
    <p>message : <%= data.message %></p>
    <p>name: <%= data.name %></p>
  </body>
</html>
